domain.py
.\client\files\*
.\client\cache
.\cache
cache
__pycache__
test.json
.DS_Store
.env
.debug
*.pdf
.venv*
venv
debugFiles\*.json
.\debugFiles\*json
.\debugFiles\*txt
.\debugFiles\*.txt
.\debugFiles\logs
.\debugFiles\*
.test
logs
.\logs
.\files
.\files\*
